# {{ ansible_managed }}
---
version: "3"

# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  pihole:
    container_name: pihole
    image: {{ pihole_image }}
    pull_policy: always
    ports:
      - "{{ pihole_dns_tcp_host_port }}:53/tcp"
      - "{{ pihole_dns_udp_host_port }}:53/udp"
      - "{{ pihole_dns_bootp_udp_host_port }}:67/udp"
      - "{{ pihole_ui_host_port }}:80/tcp"
    environment:
      TZ: '{{ pihole_timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      PIHOLE_DNS_: "{{ pihole_dns }}"
      FTLCONF_MAXDBDAYS: "{{ pihole_ftl_max_db_days }}"
    dns:
      - 127.0.0.1
      - 8.8.8.8
    volumes:
      - '{{ pihole_host_config_path }}/etc-pihole/:/etc/pihole/'
      - '{{ pihole_host_config_path }}/etc-dnsmasq.d/:/etc/dnsmasq.d/'
    {% if pihole_network_name is defined and pihole_network_name != '' %}
    networks:
      - {{ pihole_network_name }}
    {% endif %}
    cap_add:
      - NET_ADMIN
    restart: unless-stopped
{% if pihole_network_name is defined and pihole_network_name != '' %}
networks:
  {{ pihole_network_name }}:
    external: true
{% endif %}